@import "../scss/custom.scss";

.form-label.required:after {
  content: "*";
  color: $red;
}

.
.preserve-line-breaks {
  white-space: pre;
  font-size: $font-size-base * .95;
}

.spinner-border {
  margin-right: 10px;
}

@font-face {
  font-family: GreycliffCF-ExtraBold;
  src: url("/static/css/GreycliffCF-ExtraBold.ttf") format('truetype');
}

.uorf4u_logo_svg:hover .st2 {
  stroke: $yellow;
}

.uorf4u_logo_svg:hover .st7, .uorf4u_logo_svg:hover .st3 {
  fill: $yellow;
}

.uorf4u_logo_svg:hover .st5 {
  stroke: $blue;
}

.uorf4u_logo_svg:hover .st6 {
  fill: $blue;
}

.msa4u_logo_svg .stm7, .msa4u_logo_svg .stm8 {
  fill: #e9dfd4;
}


.msa4u_logo_svg:hover .stm7 {
  fill: $pink;
}

.msa4u_logo_svg:hover .stm8 {
  fill: $lightpink;
}

.msa4u_logo_svg:hover .stm1 {
  fill: $darkblue;
}

.navbar-brand:hover, .navbar-brand:hover .fw-bold {
  color: $yellow;
}

.navbar-brand:hover .tal {
  color: $blue;
}

.navbar-brand:hover .st1 {
  stroke: $lightpink;
}

.navbar .active:hover {
  color: $yellow;
}

.spinner-mine {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 9px solid;
  border-color: $blue;
  border-right-color: $yellow;
  animation: spinner-d3wgkg 1s infinite linear;
}


@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

.spinner-mine_small {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid;
  border-color: $blue;
  border-right-color: $yellow;
  animation: spinner-d3wgkg 1s infinite linear;
}

body {
  background-image: url("/static/img/background_pattern.svg");
  background-repeat: repeat;
  background-size: 60%;
  background-attachment: fixed;
}

.no-background {
  background: white;
}

.frey_bg {
  background: #eae0d5;
}

.fs-5_5 {
  font-size: 1.15rem !important;
}

