<!doctype html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/94897c8b37.js" crossorigin="anonymous"></script>
</head>
<title>:(</title>
<body>
<div class="container" style="height: 80vh;">
    <div class="row align-items-center h-100 justify-content-center text-center">
        <div class="col-md-7 align-middle">
            <p></p>
            <h1 class="display-3"><i class="fa-solid fa-gear fa-spin fa-xl"></i></h1>
            <div style="margin-bottom: 20px;"></div>
            <h1 class="display-4 fw-medium">Under construction...</h1>
            <div style="margin-bottom: 50px;"></div>
            <h3 class="display-6">We will be back soon!</h3>
            <p></p>
        </div>
    </div>
</div>
</body>
</html>
