{% extends "base.html" %}
{% block title %}The Atkinson Lab{% endblock %}
{% block head %}
{% endblock %}
{% block body_class %} class="main"{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h1 class="display-5"><a class="text-decoration-none" href="https://atkinson-lab.com">
                    The Atkinson Lab</a> Server Portal</h1>
                <p class="fs-4"><span class="fw-medium">Welcome!</span> Here we provide access to our online tools and
                    services.<br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 no-background shadow rounded">
                <div class="row g-2 justify-content-center">
                    <div class="col-12">
                        <div style="margin-bottom: 15px;"></div>
                        <h3>Online tools</h3>
                        <hr style="margin-top:0;">
                    </div>
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="/ilund4u  "
                                                                        class="fw-bold text-decoration-none">iLund4u</a>
                                    </h5>
                                    <p class="card-text fs-5_5">iLund4u is a bioinformatics tool for search and
                                        annotation of accessory genes and hotspots in a large set of proteomes. With web
                                        version you can find whether homologues of your query protein are encoded in
                                        variable islands and hotspots.
                                    </p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="/ilund4u">
                                        <img width="90%"
                                             src="{{ url_for('static', filename='img/ilund4u_logo.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                        <hr class="border opacity-50">
                    </div>
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="/webflags"
                                                                        class="fw-bold text-decoration-none">webFlaGs</a>
                                    </h5>
                                    <p class="card-text fs-5_5">Predicting protein functional association in microbial
                                        and
                                        viral genomes by analysis of conservation of genomic context (Flanking
                                        Genes).
                                    </p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="/webflags">
                                        <img width="90%"
                                             src="{{ url_for('static', filename='img/webflags_logo_short.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                        <hr class="border opacity-50">
                    </div>
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="/uorf4u"
                                                                        class="fw-bold text-decoration-none">uORF4u</a>
                                    </h5>
                                    <p class="card-text fs-5_5">A bioinformatics tool for conserved uORF annotation in
                                        5′
                                        upstream
                                        sequences of a user-defined protein of interest or a set of protein homologues.
                                        It
                                        can also be used to find small ORFs within a set of nucleotide sequences.</p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="/uorf4u">
                                        <img width="90%" src="{{ url_for('static', filename='img/uorf4u_logo.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                        <hr class="border opacity-50">
                    </div>
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="/msa4u"
                                                                        class="fw-bold text-decoration-none">MSA4u</a>
                                    </h5>
                                    <p class="card-text fs-5_5">A simple visualisation tool for Multiple Sequence
                                        Alignments.<br> <span class="fw-medium">Supported input</span>: Multiple
                                        sequence
                                        alignments or unaligned sequences in fasta format.</p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="/msa4u">
                                        <img width="90%"
                                             src="{{ url_for('static', filename='img/msa4u_logo_short.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 15px;"></div>
                </div>
            </div>
            <div style="margin-bottom: 20px;"></div>
            <div class="col-lg-10 no-background shadow rounded">
                <div class="row g-2 justify-content-center">
                    <div class="col-12">
                        <div style="margin-bottom: 15px;"></div>
                        <h3>Databases</h3>
                        <hr style="margin-top:0;">
                    </div>
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="/ilund4udb"
                                                                        class="fw-bold text-decoration-none">iLund4u DB</a>
                                    </h5>
                                    <p class="card-text fs-5_5">iLund4u phage database provides an
                                        interactive platform to explore hotspot-encoded phage proteins annotated with
                                        iLund4u. It consists of 242.8K protein families encoded in 16K
                                    hotspots across 218K phage genomes.
                                    </p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="/ilund4udb">
                                        <img width="95%"
                                             src="{{ url_for('static', filename='img/ilund4u_db_logo.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                        <hr class="border opacity-50">
                    </div>
                    <!--
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="/ad4udb"
                                                                        class="fw-bold text-decoration-none">AD4u DB</a>
                                    </h5>
                                    <p class="card-text fs-5_5">The AD4u database contains putative anti-defence proteins identified in <i>Enterobacteriaceae</i>
                                        phage hotspots and predicted by AlphaFold to bind known bacterial defence system proteins. (numbers)
                                    </p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="/ad4udb">
                                        <img width="100%"
                                             src="{{ url_for('static', filename='img/ad4u_logo.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                        <hr class="border opacity-50">
                    </div>
                    -->
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="https://vad.atkinson-lab.com"
                                                                        target="_blank" rel="noopener noreferrer"
                                                                        class="fw-bold text-decoration-none">VAD
                                        Network</a>
                                    </h5>
                                    <p class="card-text fs-5_5">Web interface for exploring structural clusters in the
                                        <i>Viral AlphaFold Database</i>. Includes structural predictions, sequence and
                                        structure clusters, and metadata with hits to protein sequence and structure
                                        databases.
                                    </p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="https://vad.atkinson-lab.com" target="_blank" rel="noopener noreferrer">
                                        <img width="65%"
                                             src="{{ url_for('static', filename='img/vad_logo.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                        <hr class="border opacity-50">
                    </div>
                    <div class="col-12">
                        <div class="card border-0" style="margin-left: 0;">
                            <div class="row g-1" style="margin-left: 0;">
                                <div class="col-md-9 text-left" style="margin-left: 0;">
                                    <h5 class="card-title text-left"><a href="/netflax"
                                                                        class="fw-bold text-decoration-none">NetFlax</a>
                                    </h5>
                                    <p class="card-text fs-5_5">Interactive NetFlax <i>(Network-FlaGs for toxins and
                                        antitoxins)</i> predicted toxin-antitoxin pairs interface
                                        with structural predictions.
                                    </p>
                                </div>
                                <div class="col-md-3 align-self-center mx-auto">
                                    <a href="/netflax">
                                        <img width="81%"
                                             src="{{ url_for('static', filename='img/netflax_logo.png') }}"
                                             class="img-fluid" style="max-width: 20rem;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 15px;"></div>
                </div>
            </div>
            <div style="margin-bottom: 20px;"></div>
            <div class="col-lg-10 bg-light shadow rounded">
                <div class="row g-3">
                    <div class="col-md-12">
                        <div style="margin-bottom: 15px;"></div>

                        <h3>Contact</h3>
                        <hr style="margin-top:0;">

                        <p class="fs-5_5"><span class="fw-medium">The Atkinson lab <a class="text-decoration-none"
                                                                                      href="https://atkinson-lab.com">Home Page</a></span>
                        </p>

                        <p class="fs-5_5">We are located at the BMC as part of the Faculty of Medicine, Lund
                            University, Sweden 🇸🇪</p>
                        <p class="fs-6"><span class="fw-semibold fs-5">Mailing address:</span><br>
                            Gemma Atkinson<br>BMC, Lund University<br> Sölvegatan 17, C13, 223 62 Lund, Sweden</p>
                        <p class="fs-6" style="margin-bottom: 0.2rem"><span class="fw-semibold fs-5">You can also contact us by e-mail:</span>
                        </p>
                        <p class="fs-6" style="margin-bottom: 0.3rem"><span
                                class="fw-bold">Gemma C. Atkinson</span>, Group Leader<br>
                            <a class="text-decoration-none" href="mailto:gemma-dot-atkinson-wow-med.lu.se ">gemma.atkinson(at)med.lu.se</a>
                        </p>

                        <p class="fs-6"><span class="fw-semibold">Artyom A. Egorov</span>, Developer<br>
                            <a class="text-decoration-none" href="mailto:artem-dot-egorov-wow-med.lu.se ">artem.egorov(at)med.lu.se</a>
                        </p>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 20px;"></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid" style="margin-right: 1rem; margin-left: 1rem;">
            <div class="navbar-expand mx-auto navbar-text fw-light">The Atkinson Lab Server Portal | 2026
            </div>
        </div>
    </nav>
{% endblock %}