{% extends "base.html" %}
{% block title %}uORF4u{% endblock %}
{% block head %}
{% endblock %}
{% block body_class %} class="uorf4u"{% endblock %}
{% block content %}
    <div class="container">
        <p></p>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <img width="100%" src="{{ url_for('static', filename='img/uorf4u_logo_long.png') }}">
                    </div>
                </div>
            </div>

            <div class="col-lg-10 no-background shadow">
                <div class="row g-3">
                    <div class="col-md-7" style="margin-bottom: 0">
                        <p></p>
                        <h3>Description</h3>
                        <p class="fs-6"><b>uORF4u</b> is a bioinformatics tool for conserved uORF annotation in 5′
                            upstream sequences of a user-defined protein of interest or a set of protein homologues. It
                            can also be used to find small ORFs within a set of nucleotide sequences.</p>
                        <p class="fs-6">The output
                            includes publication-quality figures with multiple sequence alignments, sequence logos and
                            locus annotation of the predicted uORFs in graphical vector format.
                        </p>
                        <p class="fs-6 fw-semibold" style="margin-bottom: 0.2rem;">Source code available at the
                            <a class="text-decoration-none" href="https://github.com/GCA-VH-lab/uorf4u"><i
                                    class="fab fa-github"></i> GitHub Page</a>.</p>
                        <p class="fs-6 ">We also recommend visiting the tool's<a
                                class="fw-semibold text-decoration-none"
                                href="https://gca-vh-lab.github.io/uorf4u/">
                            detailed documentation website</a> that provides an example-driven guide and documentation
                            to the command-line version and python API.</p>
                        <p>
                            <span class="link-primary fw-medium" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#collapseWidth" aria-expanded="false"
                                  aria-controls="collapseWidthExample">
                                How does the conservation analysis algorithm work?
                            </span>
                        <div class="collapse" id="collapseWidth">
                            <img width="100%"
                                 src="{{ url_for('static', filename='img/consrvation_analysis_uORF4u.png') }}">

                        </div>
                        </p>


                    </div>
                    <div class="col-md-5 text-center">
                        <p></p>
                        <img width="90%" src="{{ url_for('static', filename='img/uorf4u_workflow.png') }}">
                    </div>
                    <div class="col-12" style="margin: 0">

                    </div>
                    <div class="col-12" style="margin: 0">
                        <hr style="margin-bottom:0;">
                    </div>
                    <div class="col-12">
                        <h3>Reference</h3>
                        <p class="fs-6"><span class="fw-bold">If you find uorf4u useful, please, cite:</span><br>
                            Artyom A. Egorov, Gemma C. Atkinson, <span class="fw-semibold">uORF4u: a tool for annotation
                                of conserved upstream open reading frames</span>
                            <span class="fst-italic">bioRxiv 2022.10.27.514069; doi:
                                <a href="https://doi.org/10.1101/2022.10.27.514069">10.1101/2022.10.27.514069</a></span>
                        </p>
                        <hr style="margin-bottom:0;">
                    </div>
                    <div class="col-12">
                        <h3>Authors & Contact </h3>
                        <p class="fs-6">uORF4u is developed by Artyom Egorov at the Atkinson Lab, Department of
                            Experimental Medical Science, Lund University, Sweden. <br>
                            We are open for suggestions of how we can extend and improve uorf4u functionality. Please
                            don't hesitate to share your ideas or
                            feature requests.
                        </p>
                        <p>
                            Please contact us by <a class="text-decoration-none"
                                                    href="mailto:artem-dot-egorov-wow-med.lu.se ">e-mail</a> or use
                            <a class="text-decoration-none" href="https://github.com/GCA-VH-lab/uorf4u/issues?q=">GitHub
                                Issues</a> to report any technical problems related to uORF4u.
                            You can also use <a class="text-decoration-none"
                                                href="https://github.com/art-egorov/uorf4u/discussions">Discussions</a>
                            section for sharing your ideas or feature requests!
                        </p>
                        <hr>
                    </div>

                    <div class="col-12" id="uorf4u_form" style="margin-top: 0">
                        <h3>Submission form</h3>
                        <p class="fs-6 fw-medium">You can <a class="text-decoration-none"
                                                             href="{{ url_for('tool', tool="uorf4u", demo=True) }}">try
                            an example</a> with list of 6 ErmC homologues.</p>
                        <p></p>
                        {%- if form["top_warning_message"] -%}
                            <p></p>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Ooops...</strong> {{ form["top_warning_message"]|safe }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {%- endif -%}
                        <form class="row gx-5 gy-3 needs-validation" method="POST"
                              enctype="multipart/form-data">
                            {% for name in form["order"] %}
                                {%- set element = form["elements"][name] -%}
                                <div class="{{ element['div_class'] }}">
                                    {%- for subelement in element['subelements'] -%}
                                        {%- if subelement == "header" %}
                                            <h5>{{ element[subelement]["text"] }}</h5>
                                        {%- endif -%}
                                        {%- if subelement == "header_info" %}
                                            {{ element[subelement]["text"]|safe }}
                                        {%- endif -%}
                                        {%- if subelement == "error_alert" and element["error_text"] != "" %}
                                            <div class="alert alert-danger" role="alert">
                                                <div>
                                                    {{ element["error_text"]|safe }}
                                                </div>
                                            </div>
                                        {%- endif -%}
                                        {%- if subelement == "label" %}
                                            <label {%- for k,v in element[subelement].items() %} {{ k }}="{{ v }}"
                                        {%- endfor %}> {{ element["label_value"] }} </label>
                                        {%- endif -%}
                                        {%- if subelement == "textarea" %}
                                            <textarea {%- for k,v in element[subelement].items() %} {{ k }}="{{ v }}"
                                        {% endfor %}>{{ element["textarea_value"] }} </textarea>
                                        {%- endif -%}
                                        {%- if subelement == "input" %}
                                            <input {%- for k,v in element[subelement].items() %} {{ k }}="{{ v }}"
                                        {% endfor %}
                                            {% if element['required'] == 1 %}required{% endif %}>
                                        {%- endif -%}
                                        {%- if subelement == "invalid_feedback" %}
                                            <div class="invalid-feedback">{{ element["invalid_feedback"]|safe }}</div>
                                        {%- endif -%}
                                        {%- if subelement == "valid_feedback" %}
                                            <div class="valid-feedback">{{ element["valid_feedback"]|safe }}</div>
                                        {%- endif -%}
                                        {%- if subelement == "form-text" %}
                                            <div class="form-text">{{ element["form-text"]|safe }}</div>
                                        {%- endif -%}
                                        {% if subelement == "check_subdiv_open" %}
                                            <div class="form-check form-switch">{%- endif %}
                                    {%- if subelement == "check-input" %}
                                        <input {%- for k,v in element[subelement].items() %} {{ k }}="{{ v }}"
                                    {% endfor %}
                                        {%- if element['checked'] == 1 %} checked{% endif %}>
                                        </div>
                                    {%- endif -%}
                                        {%- if subelement == "select" %}
                                            <select{% for k,v in element[subelement].items() %} {{ k }}="{{ v }}"
                                        {% endfor %}>
                                            {% for k,v in element["options"].items() -%}
                                                <option value={{ k }} {% if element['selected'] == k %}selected
                                                {%- endif %}>{{ v }}</option>
                                            {% endfor -%}
                                            </select>
                                        {%- endif -%}
                                    {%- endfor %}
                                </div>
                            {%- endfor %}
                            <div class="col-12">
                                <button class="btn btn-outline-primary" id="submit_button" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <p></p>
    </div>
    <script src="{{ url_for('static', filename='js/uorf4u_form.js') }}"></script>
    {%- if "request_validation" in request.path or request.args.get("demo") %}
        <script>
            var element_id = "uorf4u_form"
        </script>
        <script src="{{ url_for('static', filename='js/auto_scroll.js') }}"></script>
    {% endif -%}
{% endblock %}
