{% extends "base.html" %}
{% block title %}webflags{% endblock %}
{% block head %}
{% endblock %}
{% block body_class %} class="webflags"{% endblock %}
{% block content %}
    <div class="container" style="height: 80vh;">
        <div class="row align-items-center h-100 justify-content-center text-center">
            <div class="col-md-9 align-middle">
                <p></p>
                <h1 class="display-5  fw-bold">Under construction...</h1>
                <h1 class="display-5">Please, use the old version: <a href="http://www.webflags.se">WebFlags.se</a> </h1>
                <p></p>
            </div>
        </div>
    </div>

{% endblock %}
